# DATABASE CONFIG
DB_HOST= "host_ip"
DB_NAME= "database_name"
DB_USER= "database_user"
DB_PASS= "password"

# VNPAY CONFIG (Đăng ký dịch vụ sandbox của vnpay để lấy các thông tin này)
VNP_TMN_CODE= ""
VNP_HASH_SECRET= ""
VNP_URL= ""

APP_URL= "http://"

VNP_RETURN_URL = "/order/vnpay_return"

VNP_IPN_URL = "/order/vnpay_ipn"

# Google OAuth (Đăng ký dịch vụ OAuth của Google để lấy các thông tin này)
GOOGLE_URL = "your_redirect_url"
GOOGLE_CLIENT_ID="your_client_id"
GOOGLE_CLIENT_SECRET="your_client_secret"